In [2]:
import pandas as pd

scores = [85, 90, 78]
series1 = pd.Series(scores)
print(series1)

0    85
1    90
2    78
dtype: int64

In [3]:
series2 = pd.Series([85, 90, 78], index=["Ahmad", "Lina", "Sara"])
print(series2)

Ahmad    85
Lina     90
Sara     78
dtype: int64

In [4]:
print(series2["Lina"])     # 90
print(series2.mean())      # Average
print(series2 > 80)        # Boolean filter

90
84.33333333333333
Ahmad     True
Lina      True
Sara     False
dtype: bool

In [5]:
data = {
    "Name": ["Ahmad", "Lina", "Sara"],
    "Score": [85, 90, 78],
    "Passed": [True, True, False]
}
df = pd.DataFrame(data)
print(df)

    Name  Score  Passed
0  Ahmad     85    True
1   Lina     90    True
2   Sara     78   False

In [6]:
print(df["Name"])        # Single column (Series)
print(df[["Name", "Score"]])  # Multiple columns

print(df.iloc[0])        # Row by position
print(df.loc[1])         # Row by label (index = 1)

print(df[df["Score"] > 80])  # Filtered DataFrame

0    Ahmad
1     Lina
2     Sara
Name: Name, dtype: object
    Name  Score
0  Ahmad     85
1   Lina     90
2   Sara     78
Name      Ahmad
Score        85
Passed     True
Name: 0, dtype: object
Name      Lina
Score       90
Passed    True
Name: 1, dtype: object
    Name  Score  Passed
0  Ahmad     85    True
1   Lina     90    True

In [7]:
import pandas as pd

# Create DataFrame with custom index labels
df = pd.DataFrame({
    "Name": ["Ahmad", "Lina", "Sara"],
    "Score": [85, 90, 78],
    "Age": [22, 21, 23]
}, index=["a", "b", "c"])

print(df)

    Name  Score  Age
a  Ahmad     85   22
b   Lina     90   21
c   Sara     78   23

In [16]:
#1. Get row with label "a"
df.loc["a"]

Name     Ahmad
Score       85
Age         22
Name: a, dtype: object

In [17]:
#2. Get rows from "a" to "b" (inclusive!)
df.loc["a":"b"]

    Name  Score  Age
a  Ahmad     85   22
b   Lina     90   21

In [18]:
#3. Get "Score" column for all rows
df.loc[:, "Score"]

a    85
b    90
c    78
Name: Score, dtype: int64

In [19]:
#4. Get "Name" and "Age" columns for label "b"
df.loc["b", ["Name", "Age"]]

Name    Lina
Age       21
Name: b, dtype: object

In [20]:
#1. Get row at position 0
df.iloc[0]

Name     Ahmad
Score       85
Age         22
Name: a, dtype: object

In [21]:
#2. Get first two rows (positions 0 and 1)
df.iloc[0:2]

    Name  Score  Age
a  Ahmad     85   22
b   Lina     90   21

In [22]:
#3. Get column at position 1 (Score)
df.iloc[:, 1]

a    85
b    90
c    78
Name: Score, dtype: int64

In [23]:
#4. Get cell at row 2, column 0 (Saraâ€™s name)
df.iloc[2, 0]

'Sara'